In [1]:
import pandas as pd
import json
import textrank
from konlpy.tag import Komoran

komoran = Komoran()
def komoran_tokenizer(sent):
    words = komoran.pos(sent, join=True)
    #words = [w for w in words if ('/NN' in w or '/XR' in w or '/VA' in w or '/VV' in w)]
    words = [w for w in words if ('/NNP' in w)]
    return words

In [2]:
df = pd.read_csv('./dataset.csv', index_col=0)
df = pd.DataFrame(df)

In [3]:
ndf = df["DESC_KOR"]
ndf = pd.DataFrame(ndf)
ndf.iat[0,0]

'꿩불고기'

In [4]:
ndf.index = range(0,90000)
ndf

                         DESC_KOR
0                            꿩불고기
1                             닭갈비
2                             닭갈비
3                             닭꼬치
4                            더덕구이
...                           ...
89995       요구르트, 액상(농후), 식이섬유 첨가
89996  요구르트, 액상(농후), 사과맛, 식이섬유 첨가
89997  요구르트, 액상(농후), 저지방, 식이섬유 첨가
89998  요구르트, 액상(농후), 플레인, 식이섬유 첨가
89999               요구르트, 호상, 딸기맛

[90000 rows x 1 columns]

In [5]:
NNP_list = []
for i in range(len(ndf)):
    try:
        NNP_list.append(komoran_tokenizer(df.iat[i,18])[0][:-4])
    except:
        NNP_list.append('nan')

In [6]:
NNP_list = pd.DataFrame(NNP_list, columns = ["NN"])
NNP_list.index = range(0,90000)

In [7]:
nnp_df = pd.concat([ndf,NNP_list], axis = 1)

In [9]:
arr = nnp_df["NN"].unique()

In [ ]:
import csv
with open('sample3.csv','w') as file :

    write = csv.writer(file)
    write.writerow(arr)

In [59]:
nnp_df.to_csv('./category_NN.csv', encoding="utf-8")

In [135]:
NNP_list2 = []
for i in range(len(ndf)):
    try:
        NNP_list2.append(komoran_tokenizer(df.iat[i,18])[-1][:-4])
    except:
        NNP_list2.append('nan')

In [136]:
NNP_list2 = pd.DataFrame(NNP_list2, columns = ["NNP"])
NNP_list2.index = range(0,90000)

In [137]:
nnp_df2 = pd.concat([ndf,NNP_list2], axis = 1)
nnp_df2

                         DESC_KOR  NNP
0                            꿩불고기  불고기
1                             닭갈비  닭갈비
2                             닭갈비  닭갈비
3                             닭꼬치  닭꼬치
4                            더덕구이   구이
...                           ...  ...
89995       요구르트, 액상(농후), 식이섬유 첨가   섬유
89996  요구르트, 액상(농후), 사과맛, 식이섬유 첨가   섬유
89997  요구르트, 액상(농후), 저지방, 식이섬유 첨가   섬유
89998  요구르트, 액상(농후), 플레인, 식이섬유 첨가   섬유
89999               요구르트, 호상, 딸기맛   딸기

[90000 rows x 2 columns]

In [138]:
#nnp_df.to_csv('./category2.csv', encoding="utf-8")

In [141]:
unique1 = nnp_df2["NNP"].unique()

In [142]:
unique2 = nnp_df["NNP"].unique()

In [145]:
len(unique1), len(unique2)

(4219, 5309)

### groupid 정보 return func (int: 카테고리 의미 mapping)

In [46]:
category_list = ["0:족발보쌈", "1:찜탕찌개", "2:돈까스*회*일식", "3:피자", "4:고기구이", "5:야식", "6:양식", "7:치킨", "8:중식", "9:아시안", "10:백반죽국수", "11:도시락", "12:분식", "13:카페*디저트", "14:패스트푸드", "15:molu"]

In [34]:
len(category_list)

16

In [40]:
cnt_list = [0]*16

In [41]:
cnt_list

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [47]:
category_list

['0:족발보쌈',
 '1:찜탕찌개',
 '2:돈까스*회*일식',
 '3:피자',
 '4:고기구이',
 '5:야식',
 '6:양식',
 '7:치킨',
 '8:중식',
 '9:아시안',
 '10:백반죽국수',
 '11:도시락',
 '12:분식',
 '13:카페*디저트',
 '14:패스트푸드',
 '15:molu']

In [50]:
cnt_0 = []
cnt_1 = []
cnt_2 = []
cnt_3 = []
cnt_4 = []
cnt_5 = []
cnt_6 = []
cnt_7 = []
cnt_8 = []
cnt_9 = []
cnt_10 = []
cnt_11 = []
cnt_12 = []
cnt_13 = []
cnt_14 = []
cnt_15 = []

In [10]:
nnp_df["NN"].unique()

array(['불고기', '닭갈비', '닭꼬치', ..., '한천', '청태', '모유'], dtype=object)

In [8]:
df_cnt = nnp_df['NN'].value_counts()

In [10]:
df_cnt.head(300)

nan     7707
유기농     1383
초코       970
치즈       842
미니       805
        ...
박         57
부대찌개      57
단백질       57
바질        57
초록        57
Name: NN, Length: 300, dtype: int64

In [13]:
# row 생략 없이 출력
#pd.set_option('display.max_rows', None)
# col 생략 없이 출력
#pd.set_option('display.max_columns', None)

In [14]:
df_cnt = pd.DataFrame(df_cnt)
len(df_cnt[df_cnt["NN"] >= 20]["NN"])

834

In [17]:
nnp_df["category"] = [0]*90000

In [59]:
#nn_cnt = 0
for i in range(300):
    nnp_df.loc[nnp_df['NN'] == list(df_cnt.index)[i+1], 'category'] =\
    list([i+1]*df_cnt["NN"][i+1])
    #nn_cnt += df_cnt["NN"][i+1]
    
#print(nn_cnt)

In [60]:
nnp_df["category"].value_counts()

0      44438
1       1383
2        970
3        842
4        805
       ...
297       57
293       57
299       57
291       57
300       56
Name: category, Length: 301, dtype: int64

In [61]:
nnp_df

                         DESC_KOR    NN  category
0                            꿩불고기   불고기        22
1                             닭갈비   닭갈비         0
2                             닭갈비   닭갈비         0
3                             닭꼬치   닭꼬치         0
4                            더덕구이    더덕         0
...                           ...   ...       ...
89995       요구르트, 액상(농후), 식이섬유 첨가  요구르트       131
89996  요구르트, 액상(농후), 사과맛, 식이섬유 첨가  요구르트       131
89997  요구르트, 액상(농후), 저지방, 식이섬유 첨가  요구르트       131
89998  요구르트, 액상(농후), 플레인, 식이섬유 첨가  요구르트       131
89999               요구르트, 호상, 딸기맛  요구르트       131

[90000 rows x 3 columns]

In [62]:
nnp_df.to_csv('./category_label.csv', encoding="utf-8")

In [69]:
komoran_tokenizer("새싹 육회 점보 비빔밥")[-1][:-4]

'비빔밥'

In [82]:
nnp_df[nnp_df["NN"] == komoran_tokenizer("응애 두유")[-1][:-4]].iloc[0, 2]

98

In [ ]:
t = {'rs': ["콩나물국밥", 2, 3]}
JSON.dumps(t)

In [11]:
df = pd.read_csv('./category_label.csv', index_col=0)
df = pd.DataFrame(df)

In [12]:
df

                         DESC_KOR    NN  category
0                            꿩불고기   불고기        22
1                             닭갈비   닭갈비         0
2                             닭갈비   닭갈비         0
3                             닭꼬치   닭꼬치         0
4                            더덕구이    더덕         0
...                           ...   ...       ...
89995       요구르트, 액상(농후), 식이섬유 첨가  요구르트       131
89996  요구르트, 액상(농후), 사과맛, 식이섬유 첨가  요구르트       131
89997  요구르트, 액상(농후), 저지방, 식이섬유 첨가  요구르트       131
89998  요구르트, 액상(농후), 플레인, 식이섬유 첨가  요구르트       131
89999               요구르트, 호상, 딸기맛  요구르트       131

[90000 rows x 3 columns]

In [30]:
df[df["category"] == 22].iloc[2, 0]

'오삼불고기'