In [29]:
import pandas as pd
import json
import textrank
from konlpy.tag import Komoran

komoran = Komoran()
def komoran_tokenizer(sent):
    words = komoran.pos(sent, join=True)
    #words = [w for w in words if ('/NN' in w or '/XR' in w or '/VA' in w or '/VV' in w)]
    words = [w for w in words if ('/NNP' in w)]
    return words

In [30]:
df = pd.read_csv('./dataset.csv', index_col=0)
df = pd.DataFrame(df)

In [81]:
ndf = df["DESC_KOR"]
ndf = pd.DataFrame(ndf)
ndf.iat[0,0]

'꿩불고기'

In [116]:
ndf.index = range(0,90000)
ndf

                         DESC_KOR
0                            꿩불고기
1                             닭갈비
2                             닭갈비
3                             닭꼬치
4                            더덕구이
...                           ...
89995       요구르트, 액상(농후), 식이섬유 첨가
89996  요구르트, 액상(농후), 사과맛, 식이섬유 첨가
89997  요구르트, 액상(농후), 저지방, 식이섬유 첨가
89998  요구르트, 액상(농후), 플레인, 식이섬유 첨가
89999               요구르트, 호상, 딸기맛

[90000 rows x 1 columns]

In [92]:
NNP_list = []
for i in range(len(ndf)):
    try:
        NNP_list.append(komoran_tokenizer(df.iat[i,18])[0][:-4])
    except:
        NNP_list.append('nan')

In [120]:
NNP_list = pd.DataFrame(NNP_list, columns = ["NNP"])
NNP_list.index = range(0,90000)

In [131]:
nnp_df = pd.concat([ndf,NNP_list], axis = 1)
nnp_df

                         DESC_KOR   NNP
0                            꿩불고기   불고기
1                             닭갈비   닭갈비
2                             닭갈비   닭갈비
3                             닭꼬치   닭꼬치
4                            더덕구이    더덕
...                           ...   ...
89995       요구르트, 액상(농후), 식이섬유 첨가  요구르트
89996  요구르트, 액상(농후), 사과맛, 식이섬유 첨가  요구르트
89997  요구르트, 액상(농후), 저지방, 식이섬유 첨가  요구르트
89998  요구르트, 액상(농후), 플레인, 식이섬유 첨가  요구르트
89999               요구르트, 호상, 딸기맛  요구르트

[90000 rows x 2 columns]

In [57]:
komoran_tokenizer(df.iat[2,18])[-1][:-4]

'닭갈비'

In [35]:
komoran_tokenizer("새싹 육회 비빔밥")

['육회/NNP', '비빔밥/NNP']

In [133]:
nnp_df.to_csv('./category1.csv', encoding="utf-8")

In [135]:
NNP_list2 = []
for i in range(len(ndf)):
    try:
        NNP_list2.append(komoran_tokenizer(df.iat[i,18])[-1][:-4])
    except:
        NNP_list2.append('nan')

In [136]:
NNP_list2 = pd.DataFrame(NNP_list2, columns = ["NNP"])
NNP_list2.index = range(0,90000)

In [137]:
nnp_df2 = pd.concat([ndf,NNP_list2], axis = 1)
nnp_df2

                         DESC_KOR  NNP
0                            꿩불고기  불고기
1                             닭갈비  닭갈비
2                             닭갈비  닭갈비
3                             닭꼬치  닭꼬치
4                            더덕구이   구이
...                           ...  ...
89995       요구르트, 액상(농후), 식이섬유 첨가   섬유
89996  요구르트, 액상(농후), 사과맛, 식이섬유 첨가   섬유
89997  요구르트, 액상(농후), 저지방, 식이섬유 첨가   섬유
89998  요구르트, 액상(농후), 플레인, 식이섬유 첨가   섬유
89999               요구르트, 호상, 딸기맛   딸기

[90000 rows x 2 columns]

In [138]:
nnp_df.to_csv('./category2.csv', encoding="utf-8")

In [141]:
unique1 = nnp_df2["NNP"].unique()

In [142]:
unique2 = nnp_df["NNP"].unique()

In [145]:
len(unique1), len(unique2)

(4219, 5309)

### groupid 정보 return func (int: 카테고리 의미 mapping)