## Json data concat

In [2]:
import pandas as pd
import json

In [31]:
pd.set_option('display.max_rows', 21)

In [5]:
df1 = pd.read_json(f'./../dataset/1_1000.json')
for i in range(1001, 90000, 1000):
    df2 = pd.read_json(f'./../dataset/{i}_{i+999}.json')
    df1 = pd.concat([df1, df2])

In [3]:
df = pd.read_json(f'./../dataset/{1}_{1+999}.json')

In [8]:
df1.to_csv('./../dataset.csv', sep=',', na_rep='NaN')

In [32]:
df = pd.read_csv('./../dataset.csv', index_col=0)
df = pd.DataFrame(df)
df.columns

Index(['NUTR_CONT8', 'NUTR_CONT9', 'NUTR_CONT4', 'NUTR_CONT5', 'NUTR_CONT6',
       'NUM', 'NUTR_CONT7', 'NUTR_CONT1', 'NUTR_CONT2', 'SUB_REF_NAME',
       'NUTR_CONT3', 'RESEARCH_YEAR', 'MAKER_NAME', 'GROUP_NAME',
       'SERVING_SIZE', 'SAMPLING_REGION_NAME', 'SAMPLING_MONTH_CD',
       'SAMPLING_MONTH_NAME', 'DESC_KOR', 'SAMPLING_REGION_CD', 'FOOD_CD'],
      dtype='object')

In [35]:
'''
DESC_KOR, NUTR_CONT2(탄), NUTR_CONT3(단), NUTR_CONT4(지)
'''

'\nDESC_KOR, NUTR_CONT2(탄), NUTR_CONT3(단), NUTR_CONT4(지)\n'

In [34]:
df.head(5)

,NUTR_CONT8,NUTR_CONT9,NUTR_CONT4,NUTR_CONT5,NUTR_CONT6,NUM,NUTR_CONT7,NUTR_CONT1,NUTR_CONT2,SUB_REF_NAME,...,RESEARCH_YEAR,MAKER_NAME,GROUP_NAME,SERVING_SIZE,SAMPLING_REGION_NAME,SAMPLING_MONTH_CD,SAMPLING_MONTH_NAME,DESC_KOR,SAMPLING_REGION_CD,FOOD_CD
0,1.90,0.10,8.50,16.90,1264.31,1,106.18,368.80,39.70,식약처('16) 제4권,...,2019,NaN,NaN,500.0,충주,AVG,평균,꿩불고기,94,D000006
1,6.00,0.20,25.80,21.20,1535.83,2,193.40,595.61,44.90,식약처('16) 제4권,...,2019,NaN,NaN,400.0,전국(대표),AVG,평균,닭갈비,ZZ,D000007
2,11.30,0.30,31.60,8.50,1016.94,3,217.67,558.47,23.10,식약처('16) 제4권,...,2019,NaN,NaN,300.0,춘천,AVG,평균,닭갈비,66,D000008
3,2.32,0.04,8.57,3.15,286.91,4,31.44,176.72,13.35,식약처('12) 제1권,...,2019,NaN,NaN,70.0,전국(대표),AVG,평균,닭꼬치,ZZ,D000009
4,0.80,0.00,5.20,11.60,743.37,5,0.12,184.00,31.10,식약처('17) 제5권,...,2019,NaN,NaN,100.0,전국(대표),AVG,평균,더덕구이,ZZ,D000010

## Api data load

In [1]:
import requests
import json

In [2]:
for i in range(1, 90000, 1000):
    file_path = f"./../dataset/{i}_{i+999}.json"
    url = f"http://openapi.foodsafetykorea.go.kr/api/a8b61f7af3c34ea0930c/I2790/json/{i}/{i+999}"
    requestData = requests.post(url)
    jsonData = None
    jsonData = requestData.json()
    jsonData = jsonData['I2790']['row']
    with open(file_path, 'w', encoding='UTF-8') as outfile:
        json.dump(jsonData, outfile, ensure_ascii=False)