## Api data load

In [1]:
import requests
import json

In [2]:
for i in range(1, 90000, 1000):
    file_path = f"./../dataset/{i}_{i+999}.json"
    url = f"http://openapi.foodsafetykorea.go.kr/api/a8b61f7af3c34ea0930c/I2790/json/{i}/{i+999}"
    requestData = requests.post(url)
    jsonData = None
    jsonData = requestData.json()
    jsonData = jsonData['I2790']['row']
    with open(file_path, 'w', encoding='UTF-8') as outfile:
        json.dump(jsonData, outfile, ensure_ascii=False)

## json to csv

In [5]:
df1 = pd.read_json(f'./../dataset/1_1000.json')
for i in range(1001, 90000, 1000):
    df2 = pd.read_json(f'./../dataset/{i}_{i+999}.json')
    df1 = pd.concat([df1, df2])

In [3]:
df = pd.read_json(f'./../dataset/{1}_{1+999}.json')

In [8]:
df1.to_csv('./../dataset.csv', sep=',', na_rep='NaN')

## load csv data

In [1]:
import pandas as pd
import json

In [2]:
pd.set_option('display.max_rows', 21)

In [3]:
df = pd.read_csv('./../dataset.csv', index_col=0)
df = pd.DataFrame(df)
df.columns

Index(['NUTR_CONT8', 'NUTR_CONT9', 'NUTR_CONT4', 'NUTR_CONT5', 'NUTR_CONT6',
       'NUM', 'NUTR_CONT7', 'NUTR_CONT1', 'NUTR_CONT2', 'SUB_REF_NAME',
       'NUTR_CONT3', 'RESEARCH_YEAR', 'MAKER_NAME', 'GROUP_NAME',
       'SERVING_SIZE', 'SAMPLING_REGION_NAME', 'SAMPLING_MONTH_CD',
       'SAMPLING_MONTH_NAME', 'DESC_KOR', 'SAMPLING_REGION_CD', 'FOOD_CD'],
      dtype='object')

In [5]:
'''
DESC_KOR, NUTR_CONT2(탄), NUTR_CONT3(단), NUTR_CONT4(지)
'''

'\nDESC_KOR, NUTR_CONT2(탄), NUTR_CONT3(단), NUTR_CONT4(지)\n'

In [6]:
df.head(1)

,NUTR_CONT8,NUTR_CONT9,NUTR_CONT4,NUTR_CONT5,NUTR_CONT6,NUM,NUTR_CONT7,NUTR_CONT1,NUTR_CONT2,SUB_REF_NAME,...,RESEARCH_YEAR,MAKER_NAME,GROUP_NAME,SERVING_SIZE,SAMPLING_REGION_NAME,SAMPLING_MONTH_CD,SAMPLING_MONTH_NAME,DESC_KOR,SAMPLING_REGION_CD,FOOD_CD
0,1.9,0.1,8.5,16.9,1264.31,1,106.18,368.8,39.7,식약처('16) 제4권,...,2019,NaN,NaN,500.0,충주,AVG,평균,꿩불고기,94,D000006

In [7]:
df.describe()

,NUTR_CONT8,NUTR_CONT9,NUTR_CONT4,NUTR_CONT5,NUTR_CONT6,NUM,NUTR_CONT7,NUTR_CONT1,NUTR_CONT2,NUTR_CONT3,RESEARCH_YEAR,SERVING_SIZE
count,87380.000000,79295.000000,81260.000000,87902.000000,87045.000000,90000.000000,78519.000000,89076.000000,80825.000000,88016.000000,90000.000000,90000.000000
mean,4.602364,0.083043,10.769317,15.820747,348.436035,45000.500000,19.996419,284.363411,37.482770,7.195494,2019.827344,152.246516
std,30.677214,1.545942,109.161781,149.647378,729.286026,25980.906451,74.151487,1085.177111,170.391824,14.220454,1.218203,716.990578
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2006.000000,0.030000
25%,0.000000,0.000000,0.400000,2.000000,20.000000,22500.750000,0.000000,88.000000,11.000000,1.000000,2019.000000,75.000000
50%,1.480000,0.000000,4.000000,8.000000,100.000000,45000.500000,0.000000,204.000000,25.000000,4.000000,2020.000000,100.000000
75%,5.542500,0.000000,12.300000,18.000000,406.000000,67500.250000,19.000000,365.000000,50.000000,9.600000,2021.000000,180.000000
max,5500.000000,213.000000,26374.000000,26666.000000,33654.000000,90000.000000,8000.000000,135750.000000,26666.000000,1750.000000,2021.000000,200000.000000

## EDA

In [8]:
df.head()

,NUTR_CONT8,NUTR_CONT9,NUTR_CONT4,NUTR_CONT5,NUTR_CONT6,NUM,NUTR_CONT7,NUTR_CONT1,NUTR_CONT2,SUB_REF_NAME,...,RESEARCH_YEAR,MAKER_NAME,GROUP_NAME,SERVING_SIZE,SAMPLING_REGION_NAME,SAMPLING_MONTH_CD,SAMPLING_MONTH_NAME,DESC_KOR,SAMPLING_REGION_CD,FOOD_CD
0,1.90,0.10,8.50,16.90,1264.31,1,106.18,368.80,39.70,식약처('16) 제4권,...,2019,NaN,NaN,500.0,충주,AVG,평균,꿩불고기,94,D000006
1,6.00,0.20,25.80,21.20,1535.83,2,193.40,595.61,44.90,식약처('16) 제4권,...,2019,NaN,NaN,400.0,전국(대표),AVG,평균,닭갈비,ZZ,D000007
2,11.30,0.30,31.60,8.50,1016.94,3,217.67,558.47,23.10,식약처('16) 제4권,...,2019,NaN,NaN,300.0,춘천,AVG,평균,닭갈비,66,D000008
3,2.32,0.04,8.57,3.15,286.91,4,31.44,176.72,13.35,식약처('12) 제1권,...,2019,NaN,NaN,70.0,전국(대표),AVG,평균,닭꼬치,ZZ,D000009
4,0.80,0.00,5.20,11.60,743.37,5,0.12,184.00,31.10,식약처('17) 제5권,...,2019,NaN,NaN,100.0,전국(대표),AVG,평균,더덕구이,ZZ,D000010

In [9]:
new_df = df.drop(['NUTR_CONT8','NUTR_CONT1', 'NUTR_CONT5', 'NUTR_CONT6', 'NUTR_CONT7', 'NUTR_CONT9', 'SERVING_SIZE', 'SUB_REF_NAME', 'MAKER_NAME', 'RESEARCH_YEAR', 'GROUP_NAME', 'SAMPLING_MONTH_CD', 'SAMPLING_REGION_CD', 'SAMPLING_MONTH_NAME', 'SAMPLING_REGION_NAME', 'FOOD_CD', 'NUM'], axis=1)

In [10]:
new_df.head()

   NUTR_CONT4  NUTR_CONT2  NUTR_CONT3 DESC_KOR
0        8.50       39.70       33.50     꿩불고기
1       25.80       44.90       45.90      닭갈비
2       31.60       23.10       45.50      닭갈비
3        8.57       13.35       11.56      닭꼬치
4        5.20       31.10        3.10     더덕구이

In [ ]:
#UTR_CONT2(탄), NUTR_CONT3(단), NUTR_CONT4(지)

In [25]:
len(new_df)

90000

In [131]:
new_df['NUTR_CONT3']=new_df['NUTR_CONT3'].mul(3)

In [132]:
new_df.head()

   NUTR_CONT4  NUTR_CONT2  NUTR_CONT3 DESC_KOR
0        8.50       39.70      100.50     꿩불고기
1       25.80       44.90      137.70      닭갈비
2       31.60       23.10      136.50      닭갈비
3        8.57       13.35       34.68      닭꼬치
4        5.20       31.10        9.30     더덕구이

---

In [11]:
new_df.head()

   NUTR_CONT4  NUTR_CONT2  NUTR_CONT3 DESC_KOR
0        8.50       39.70       33.50     꿩불고기
1       25.80       44.90       45.90      닭갈비
2       31.60       23.10       45.50      닭갈비
3        8.57       13.35       11.56      닭꼬치
4        5.20       31.10        3.10     더덕구이

In [13]:
new_df

     NUTR_CONT4  NUTR_CONT2  NUTR_CONT3                    DESC_KOR
0          8.50       39.70       33.50                        꿩불고기
1         25.80       44.90       45.90                         닭갈비
2         31.60       23.10       45.50                         닭갈비
3          8.57       13.35       11.56                         닭꼬치
4          5.20       31.10        3.10                        더덕구이
..          ...         ...         ...                         ...
995        3.26       13.81        3.19       요구르트, 액상(농후), 식이섬유 첨가
996        2.71       18.91        2.57  요구르트, 액상(농후), 사과맛, 식이섬유 첨가
997        1.36       12.08        3.54  요구르트, 액상(농후), 저지방, 식이섬유 첨가
998        3.22       12.30        2.31  요구르트, 액상(농후), 플레인, 식이섬유 첨가
999        2.46       15.53        2.95               요구르트, 호상, 딸기맛

[90000 rows x 4 columns]

In [76]:
# zzo = 탄zero 단zero 지one
# NUTR_CONT2(탄), NUTR_CONT3(단), NUTR_CONT4(지)
ttt = (new_df.NUTR_CONT2>=50) & (new_df.NUTR_CONT3>=28.8) &(new_df.NUTR_CONT4>=12.3)
ttt = new_df[ttt]
ttt['label'] = 0
ttt

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/209124020.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ttt['label'] = 0

     NUTR_CONT4  NUTR_CONT2  NUTR_CONT3            DESC_KOR  label
20        17.80       88.40       42.40                 굴국밥      0
45        18.90       55.30       34.40                  물회      0
46        12.30       82.50       34.30                생선물회      0
76        12.80       94.70       42.20                닭칼국수      0
80        18.14      126.53       33.64               삼선자장면      0
..          ...         ...         ...                 ...    ...
93       101.00       97.00       42.00           햄치즈크로와상샌드      0
213      103.00       62.00       30.00  허닭식단 밀키트 감바스 알 아히요      0
335       28.00      116.00       33.00         화이트라구소스리가토니      0
341       57.00      113.00       38.00           황금왕돈까스도시락      0
401       54.00       63.00       99.00             흑미들깨삼계탕      0

[1161 rows x 5 columns]

In [78]:
# zoz = 탄zero 단one 지zero 
# NUTR_CONT2(탄), NUTR_CONT3(단), NUTR_CONT4(지)
ooo = (25<=new_df.NUTR_CONT2) & (new_df.NUTR_CONT2<50) & (12<=new_df.NUTR_CONT3) & (new_df.NUTR_CONT3<28.8) & (4<=new_df.NUTR_CONT4) & (new_df.NUTR_CONT4<12.3)
ooo = new_df[ooo]
ooo['label'] = 1
ooo

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/1500236104.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ooo['label'] = 1

     NUTR_CONT4  NUTR_CONT2  NUTR_CONT3       DESC_KOR  label
105        4.60       45.90       22.60          서대회무침      1
129        8.10       42.60       21.80          소고기국밥      1
258       10.20       48.60       28.60          메기매운탕      1
768        4.00       47.00       16.00          갈릭브레드      1
936        9.80       38.28       27.23           고기만두      1
..          ...         ...         ...            ...    ...
441        4.40       43.70       27.70  아이비카, 닥풀, 말린것      1
491        4.40       28.60       15.70        붕어, 삶은것      1
497        5.10       27.00       26.70        빙어, 장조림      1
899        4.20       41.40       18.60   오징어채 볶음, 볶은것      1
943        4.83       43.65       20.31        미역, 말린것      1

[1263 rows x 5 columns]

In [79]:
# zoz = 탄one 단one 지zero 
# NUTR_CONT2(탄), NUTR_CONT3(단), NUTR_CONT4(지)
zzz = (new_df.NUTR_CONT2<25) & (new_df.NUTR_CONT3<12) & (new_df.NUTR_CONT4<4)
zzz = new_df[zzz]
zzz['label'] = 2

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/1227741264.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzz['label'] = 2

In [80]:
zzo = (new_df.NUTR_CONT2<25) & (new_df.NUTR_CONT3<12) & (4<=new_df.NUTR_CONT4) & (new_df.NUTR_CONT4<12.3)
zzo = new_df[zzo]
zzo['label'] = 3

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/237279350.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzo['label'] = 3

In [81]:
zoz = (new_df.NUTR_CONT2<25) & (12<=new_df.NUTR_CONT3) & (new_df.NUTR_CONT3<28.8) & (new_df.NUTR_CONT4<4)
zoz = new_df[zoz]
zoz['label'] = 4

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/1309465729.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zoz['label'] = 4

In [82]:
ozz = (25<=new_df.NUTR_CONT2) & (new_df.NUTR_CONT2<50) & (new_df.NUTR_CONT3<12) & (new_df.NUTR_CONT4<4)
ozz = new_df[ozz]
ozz['label'] = 5

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/1317768946.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ozz['label'] = 5

In [83]:
zoo = (new_df.NUTR_CONT2<25) & (12<=new_df.NUTR_CONT3) & (new_df.NUTR_CONT3<28.8) & (4<=new_df.NUTR_CONT4) & (new_df.NUTR_CONT4<12.3)
zoo = new_df[zoo]
zoo['label'] = 6

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/1420070407.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zoo['label'] = 6

In [84]:
ozo = (25<=new_df.NUTR_CONT2) & (new_df.NUTR_CONT2<50) & (new_df.NUTR_CONT3<12) & (4<=new_df.NUTR_CONT4) & (new_df.NUTR_CONT4<12.3)
ozo = new_df[ozo]
ozo['label'] = 7

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/1511691468.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ozo['label'] = 7

In [85]:
ooz = (25<=new_df.NUTR_CONT2) & (new_df.NUTR_CONT2<50) & (12<=new_df.NUTR_CONT3) & (new_df.NUTR_CONT3<28.8) & (new_df.NUTR_CONT4<4)
ooz = new_df[ooz]
ooz['label'] = 8

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/3516156603.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ooz['label'] = 8

In [86]:
zzt = (new_df.NUTR_CONT2<25) & (new_df.NUTR_CONT3<12) & (new_df.NUTR_CONT4>=12.3)
zzt = new_df[zzt]
zzt['label'] = 9

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/2638405039.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzt['label'] = 9

In [87]:
ztz = (new_df.NUTR_CONT2<25) & (new_df.NUTR_CONT3>=28.8) & (new_df.NUTR_CONT4<4)
ztz = new_df[ztz]
ztz['label'] = 10

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/3216013708.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ztz['label'] = 10

In [88]:
tzz = (new_df.NUTR_CONT2>=50) & (new_df.NUTR_CONT3<12) & (new_df.NUTR_CONT4<4)
tzz = new_df[tzz]
tzz['label'] = 11

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/291192070.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tzz['label'] = 11

In [89]:
zot = (new_df.NUTR_CONT2<25) & (12<=new_df.NUTR_CONT3) & (new_df.NUTR_CONT3<28.8) & (new_df.NUTR_CONT4>=12.3)
zot = new_df[zot]
zot['label'] = 12

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/1027561409.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zot['label'] = 12

In [90]:
ozt = (new_df.NUTR_CONT2<25) & (new_df.NUTR_CONT3<12) & (new_df.NUTR_CONT4>=12.3)
ozt = new_df[ozt]
ozt['label'] = 13

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/103195401.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ozt['label'] = 13

In [91]:
zto = (new_df.NUTR_CONT2<25) & (new_df.NUTR_CONT3>=28.8) & (4<=new_df.NUTR_CONT4) & (new_df.NUTR_CONT4<12.3)
zto = new_df[zto]
zto['label'] = 14

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/302222668.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zto['label'] = 14

In [92]:
tzo = (new_df.NUTR_CONT2>=50) & (new_df.NUTR_CONT3<12) & (4<=new_df.NUTR_CONT4) & (new_df.NUTR_CONT4<12.3)
tzo = new_df[tzo]
tzo['label'] = 15

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/1677589917.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tzo['label'] = 15

In [93]:
toz = (new_df.NUTR_CONT2>=50) & (12<=new_df.NUTR_CONT3) & (new_df.NUTR_CONT3<28.8) & (new_df.NUTR_CONT4<4)
toz = new_df[toz]
toz['label'] = 16

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/2998768006.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  toz['label'] = 16

In [94]:
otz = (25<=new_df.NUTR_CONT2) & (new_df.NUTR_CONT2<50) & (new_df.NUTR_CONT3>=28.8) & (new_df.NUTR_CONT4<4)
otz = new_df[otz]
otz['label'] = 17

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/2493746954.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  otz['label'] = 17

In [95]:
oot = (25<=new_df.NUTR_CONT2) & (new_df.NUTR_CONT2<50) & (12<=new_df.NUTR_CONT3) & (new_df.NUTR_CONT3<28.8) & (new_df.NUTR_CONT4>=12.3)
oot = new_df[oot]
oot['label'] = 18

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/3354118033.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oot['label'] = 18

In [96]:
oto = (25<=new_df.NUTR_CONT2) & (new_df.NUTR_CONT2<50) & (new_df.NUTR_CONT3>=28.8) & (4<=new_df.NUTR_CONT4) & (new_df.NUTR_CONT4<12.3)
oto = new_df[oto]
oto['label'] = 19

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/3146748706.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oto['label'] = 19

In [97]:
too = (new_df.NUTR_CONT2>=50) & (12<=new_df.NUTR_CONT3) & (new_df.NUTR_CONT3<28.8) & (4<=new_df.NUTR_CONT4) & (new_df.NUTR_CONT4<12.3)
too = new_df[too]
too['label'] = 20

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/55855123.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  too['label'] = 20

In [98]:
ott = (25<=new_df.NUTR_CONT2) & (new_df.NUTR_CONT2<50) & (new_df.NUTR_CONT3>=28.8) & (new_df.NUTR_CONT4>=12.3)
ott = new_df[ott]
ott['label'] = 21

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/1589352148.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott['label'] = 21

In [99]:
tot = (new_df.NUTR_CONT2>=50) & (12<=new_df.NUTR_CONT3) & (new_df.NUTR_CONT3<28.8)  & (new_df.NUTR_CONT4>=12.3)
tot = new_df[tot]
tot['label'] = 22

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/4001644964.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tot['label'] = 22

In [100]:
tto = (new_df.NUTR_CONT2>=50) & (new_df.NUTR_CONT3>=28.8) & (4<=new_df.NUTR_CONT4) & (new_df.NUTR_CONT4<12.3)
tto = new_df[tto]
tto['label'] = 23

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/2455849501.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tto['label'] = 23

In [101]:
ztt = (new_df.NUTR_CONT2<25) & (new_df.NUTR_CONT3>=28.8) & (new_df.NUTR_CONT4>=12.3)
ztt = new_df[ztt]
ztt['label'] = 24

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/1140008949.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ztt['label'] = 24

In [102]:
tzt = (new_df.NUTR_CONT2>=50)  & (new_df.NUTR_CONT3<12) & (new_df.NUTR_CONT4>=12.3)
tzt = new_df[tzt]
tzt['label'] = 25

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/4055433531.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tzt['label'] = 25

In [103]:
ttz= (new_df.NUTR_CONT2>=50) & (new_df.NUTR_CONT3>=28.8) & (new_df.NUTR_CONT4<4)
ttz = new_df[ttz]
ttz['label'] = 26

C:\Users\ruddn\AppData\Local\Temp/ipykernel_29404/3009921672.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ttz['label'] = 26

In [114]:
final_df = pd.concat([ttt, ooo, zzz, zzo, zoz, ozz, zoo, ozo, ooz, zzt, ztz, tzz, zot, ozt, zto, tzo, toz, otz, oot, oto, too, ott, tot, tto, ztt, tzt, ttz])
final_df.drop(['NUTR_CONT4', 'NUTR_CONT2', 'NUTR_CONT3'],axis=1, inplace = True) 
final_df

               DESC_KOR  label
20                  굴국밥      0
45                   물회      0
46                 생선물회      0
76                 닭칼국수      0
80                삼선자장면      0
..                  ...    ...
24     닭고기표고버섯렌틸콩진밥 밀키트     26
348    설성목장 한우 사골육수 떡볶이     26
252         우둔 스테이크 도시락     26
705  표고버섯, 배지재배, 갓, 말린것     26
979              분유, 탈지     26

[78198 rows x 2 columns]

In [117]:
final_df.to_csv('./../final.csv',encoding="utf-8")

### 특정 단어 검색

In [12]:
df[df['DESC_KOR'].str.contains('비빔밥')]

,NUTR_CONT8,NUTR_CONT9,NUTR_CONT4,NUTR_CONT5,NUTR_CONT6,NUM,NUTR_CONT7,NUTR_CONT1,NUTR_CONT2,SUB_REF_NAME,...,RESEARCH_YEAR,MAKER_NAME,GROUP_NAME,SERVING_SIZE,SAMPLING_REGION_NAME,SAMPLING_MONTH_CD,SAMPLING_MONTH_NAME,DESC_KOR,SAMPLING_REGION_CD,FOOD_CD
118,2.40,0.10,13.10,16.70,1144.80,119,21.90,547.21,90.70,식약처('16) 제4권,...,2019,NaN,NaN,400.0,거제,AVG,평균,멍게비빔밥,02,D000215
122,3.90,0.10,22.00,18.30,1119.66,123,95.42,691.62,98.70,식약처('16) 제4권,...,2019,NaN,NaN,450.0,전주,AVG,평균,비빔밥,107,D000222
133,2.40,0.10,15.90,2.90,971.61,134,0.00,511.80,80.20,식약처('16) 제4권,...,2019,NaN,NaN,400.0,산청,AVG,평균,약초비빔밥,117,D000235
977,1.27,0.03,11.22,4.73,1281.83,6978,37.92,558.10,93.77,식약처 영양실태조사('20),...,2020,NaN,NaN,380.0,전국(대표),AVG,평균,돌솥비빔밥,ZZ,D018197
984,4.29,0.26,19.44,0.22,1041.85,6985,190.18,637.54,84.76,식약처 영양실태조사('20),...,2020,NaN,NaN,450.0,전국(대표),AVG,평균,비빔밥,ZZ,D018204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,0.80,0.00,1.30,1.00,550.00,87044,15.00,305.00,68.00,식약처('21),...,2021,㈜태송,즉석식품류,200.0,전국(대표),AVG,평균,해초비빔밥,ZZ,P095326
120,0.70,0.00,3.70,3.00,880.00,87121,0.00,340.00,66.00,식약처('21),...,2021,CJ제일제당㈜,즉석식품류,280.0,전국(대표),AVG,평균,햇반컵반 강된장 보리 비빔밥,ZZ,P095403
121,0.80,0.00,4.70,6.00,770.00,87122,0.00,350.00,71.00,식약처('21),...,2021,CJ제일제당㈜,즉석식품류,229.0,전국(대표),AVG,평균,햇반컵반 고추장나물현미비빔밥,ZZ,P095404
124,0.80,0.00,3.90,6.00,890.00,87125,25.00,320.00,62.00,식약처('21),...,2021,CJ제일제당㈜,즉석식품류,216.0,전국(대표),AVG,평균,햇반컵반 낙지콩나물비빔밥,ZZ,P095407
127,2.00,0.00,6.00,3.00,740.00,87128,35.00,335.00,60.00,식약처('21),...,2021,CJ제일제당㈜,즉석식품류,216.0,전국(대표),AVG,평균,햇반컵반 버터장조림비빔밥,ZZ,P095410