## Api data load

In [1]:
import requests
import json

In [2]:
for i in range(1, 90000, 1000):
    file_path = f"./../dataset/{i}_{i+999}.json"
    url = f"http://openapi.foodsafetykorea.go.kr/api/a8b61f7af3c34ea0930c/I2790/json/{i}/{i+999}"
    requestData = requests.post(url)
    jsonData = None
    jsonData = requestData.json()
    jsonData = jsonData['I2790']['row']
    with open(file_path, 'w', encoding='UTF-8') as outfile:
        json.dump(jsonData, outfile, ensure_ascii=False)

## json to csv

In [5]:
df1 = pd.read_json(f'./../dataset/1_1000.json')
for i in range(1001, 90000, 1000):
    df2 = pd.read_json(f'./../dataset/{i}_{i+999}.json')
    df1 = pd.concat([df1, df2])

In [3]:
df = pd.read_json(f'./../dataset/{1}_{1+999}.json')

In [8]:
df1.to_csv('./../dataset.csv', sep=',', na_rep='NaN')

## load csv data

In [1]:
import pandas as pd
import json

In [2]:
pd.set_option('display.max_rows', 21)

In [3]:
df = pd.read_csv('./../dataset.csv', index_col=0)
df = pd.DataFrame(df)
df.columns

Index(['NUTR_CONT8', 'NUTR_CONT9', 'NUTR_CONT4', 'NUTR_CONT5', 'NUTR_CONT6',
       'NUM', 'NUTR_CONT7', 'NUTR_CONT1', 'NUTR_CONT2', 'SUB_REF_NAME',
       'NUTR_CONT3', 'RESEARCH_YEAR', 'MAKER_NAME', 'GROUP_NAME',
       'SERVING_SIZE', 'SAMPLING_REGION_NAME', 'SAMPLING_MONTH_CD',
       'SAMPLING_MONTH_NAME', 'DESC_KOR', 'SAMPLING_REGION_CD', 'FOOD_CD'],
      dtype='object')

In [4]:
'''
DESC_KOR, NUTR_CONT2(탄), NUTR_CONT3(단), NUTR_CONT4(지)
'''

'\nDESC_KOR, NUTR_CONT2(탄), NUTR_CONT3(단), NUTR_CONT4(지)\n'

In [9]:
df.head(1)

,NUTR_CONT8,NUTR_CONT9,NUTR_CONT4,NUTR_CONT5,NUTR_CONT6,NUM,NUTR_CONT7,NUTR_CONT1,NUTR_CONT2,SUB_REF_NAME,...,RESEARCH_YEAR,MAKER_NAME,GROUP_NAME,SERVING_SIZE,SAMPLING_REGION_NAME,SAMPLING_MONTH_CD,SAMPLING_MONTH_NAME,DESC_KOR,SAMPLING_REGION_CD,FOOD_CD
0,1.9,0.1,8.5,16.9,1264.31,1,106.18,368.8,39.7,식약처('16) 제4권,...,2019,NaN,NaN,500.0,충주,AVG,평균,꿩불고기,94,D000006

In [6]:
df.describe()

,NUTR_CONT8,NUTR_CONT9,NUTR_CONT4,NUTR_CONT5,NUTR_CONT6,NUM,NUTR_CONT7,NUTR_CONT1,NUTR_CONT2,NUTR_CONT3,RESEARCH_YEAR,SERVING_SIZE
count,87380.000000,79295.000000,81260.000000,87902.000000,87045.000000,90000.000000,78519.000000,89076.000000,80825.000000,88016.000000,90000.000000,90000.000000
mean,4.602364,0.083043,10.769317,15.820747,348.436035,45000.500000,19.996419,284.363411,37.482770,7.195494,2019.827344,152.246516
std,30.677214,1.545942,109.161781,149.647378,729.286026,25980.906451,74.151487,1085.177111,170.391824,14.220454,1.218203,716.990578
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2006.000000,0.030000
25%,0.000000,0.000000,0.400000,2.000000,20.000000,22500.750000,0.000000,88.000000,11.000000,1.000000,2019.000000,75.000000
50%,1.480000,0.000000,4.000000,8.000000,100.000000,45000.500000,0.000000,204.000000,25.000000,4.000000,2020.000000,100.000000
75%,5.542500,0.000000,12.300000,18.000000,406.000000,67500.250000,19.000000,365.000000,50.000000,9.600000,2021.000000,180.000000
max,5500.000000,213.000000,26374.000000,26666.000000,33654.000000,90000.000000,8000.000000,135750.000000,26666.000000,1750.000000,2021.000000,200000.000000

In [13]:
df[df['DESC_KOR'] == '국밥']

,NUTR_CONT8,NUTR_CONT9,NUTR_CONT4,NUTR_CONT5,NUTR_CONT6,NUM,NUTR_CONT7,NUTR_CONT1,NUTR_CONT2,SUB_REF_NAME,...,RESEARCH_YEAR,MAKER_NAME,GROUP_NAME,SERVING_SIZE,SAMPLING_REGION_NAME,SAMPLING_MONTH_CD,SAMPLING_MONTH_NAME,DESC_KOR,SAMPLING_REGION_CD,FOOD_CD
114,2.7,0.2,8.2,0.4,2301.55,115,47.81,418.35,58.6,식약처('16) 제4권,...,2019,NaN,NaN,800.0,안성,AVG,평균,국밥,104,D000208